{% extends 'base.html' %}
<h1>WORKSSSSSSS</h1>
{% block body %}
<div class="container">
      <div class = "col-md-8">
      <form method="post" class="jumbotron" >
        {% csrf_token %}
        {{form.post}}
        <br>
        <button type="submit" class="btn btn-lg btn-danger">POST</button>
      </form>
        {% for posts in post %}
        <h2>{{ posts.post }} POSTED BY: {{ posts.user.username }} at {{posts.created}}</h2>
        {% endfor %}
        </div>
      <div class="col-md-4">
        <h1>Other Users</h1>
        {% for user in users %}
          {% if not user in friends %}
        <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
        <h2>{{ user.username }}</h2>
        </a>
        <a href="{% url 'change_friends' operation='add' pk=user.pk %}">
              <button class="btn btn-success">Add Friend</button>
          </a>
          {% endif %}
        {% endfor %}


        <h1>Friends</h1>
        {% for friend in friends %}
        <a href="{% url 'view_profile_with_pk' pk=user.pk %}">
        <h2>{{ friend.username }}</h2>
        </a>
          <a href="{% url 'change_friends' operation='remove' pk=friend.pk %}">
              <button class="btn btn-success">Remove Friend</button>
          </a>
           <a href="{% url 'view_chat' pk=friend.pk %}">
              <button class="btn btn-primary">Chat!!</button>
          </a>
        {% endfor %}
      </div>
</div>
{% endblock %}
